<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Banners</title>
    <!--<link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" />-->
    <script th:inline="javascript">
        var frontendData = [[${frontendData}]]
    </script>
</head>
<body>
<h3>Banners</h3>
<div id="app"></div>
<!--<script lang="ts" src="/js/main.ts"></script>-->
<script th:src="${isDevMode} ? 'http://localhost:8000/main.js' : '/js/main.js'"></script>
</body>